In [17]:
import pandas as pd
import numpy as np

In [49]:
obj = pd.Series([1, 2, 3], index=['a','b','c'], dtype='int8') # int64 принемает  ``-9_223_372_036_854_775_808`` to ``9_223_372_036_854_775_807``

# int8 ``-128`` to ``127``
# np.info("int8") 
obj.nbytes
 # размер объекта, RAM
# obj? # интроспекция, сигнатура функции

obj['a'] = 2
obj[obj < 3] # filter

a    2
b    2
dtype: int8

In [19]:
obj * 5 # поведение как у вектора
# [1, 2, 3] * 5 
"a" in obj

True

In [20]:

# list1 = ['a','b']
dict_date = {"name": "oleg", 'age': 30}
obj_2 = pd.Series(dict_date)

# pd.isna(obj_2) # Чек Nane 
obj_2.isna() # Чек Nane 
obj_2 + obj

a       NaN
age     NaN
b       NaN
c       NaN
name    NaN
dtype: object

In [21]:
obj_2.name = "SENATOROV"
obj_2

name    oleg
age       30
Name: SENATOROV, dtype: object

In [22]:
# DataFrame

data = {"name":["oleg","Nefedov"],
"age": [30, "May"]
}

frame = pd.DataFrame(data)
frame

      name  age
0     oleg   30
1  Nefedov  May

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Geoyi/Cleaning-Titanic-Data/master/titanic_original.csv")
df.head() # show 5 first row

In [ ]:
df.tail() # show 5 end row

In [25]:
# df[["survived","age","sex"]]
df = df.loc[1]
df["name"] = "SENATOROV"
df = df.loc[df.index]
df
# df.loc[1] # вывели 1 index(row) in table

pclass                                   1.0
survived                                 1.0
name                               SENATOROV
sex                                     male
age                                   0.9167
sibsp                                    1.0
parch                                    2.0
ticket                                113781
fare                                  151.55
cabin                                C22 C26
embarked                                   S
boat                                      11
body                                     NaN
home.dest    Montreal, PQ / Chesterville, ON
Name: 1, dtype: object

In [ ]:
df

<img src="https://pandas.pydata.org/pandas-docs/stable/_images/03_subset_columns.svg">

In [ ]:
# np.info("int8") 
obj?

help(pd.Series)

In [ ]:
!pip install pandas

In [95]:



def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    
    column_names = ['student_id', 'age'] # 3. 'column _ names = [' student _ id ',' age ']': 
                                         # Эта строка создает список под названием 'column _ names' с двумя строками: 'student _ id' и 'age'. 
                                        # Эти строки представляют имена столбцов в результирующем фрейме данны
    result = pd.DataFrame(student_data, columns=column_names)
    
    return result
    
# 1 pd.DataFrame(): Это конструктор, предоставляемый библиотекой Pandas для создания объекта DataFrame. 
# Он используется для создания фрейма данных из заданных данных и имен столбцов.

# 2 student_data: Это первый параметр, передаваемый конструктору pd.DataFrame(). 
# Он представляет данные, которые будут использоваться для заполнения фрейма данных. 
# В данном случае student_data - это список списков, где каждый внутренний список представляет собой строку данных.

#2.1 columns: Это параметр конструктора pd.DataFrame() в Pandas. Он используется для указания имен столбцов в создаваемом фрейме данных.

#2.2 column_names: Это переменная, которая содержит список имен столбцов во фрейме данных.
#  Она используется в качестве значения параметра columns.

#3 Таким образом, код result = pd.DataFrame(student_data, columns=column_names) создает объект Pandas DataFrame с именем result, заполняя его данными из списка student_data и используя список column_names для указания имен столбцов. Результирующий фрейм данных будет содержать столбцы студенческого билета и возраста, как указано в списке column_names.