In [ ]:
import pandas as pd     
import numpy as np

In [ ]:
obj = pd.Series([1, 2, 3])
obj

In [ ]:
obj?

In [ ]:
obj = pd.Series([1, 2, 3], index=["a", "b", "c"])
obj.array # [1, 2, 3]

In [ ]:
obj.index

In [ ]:
obj['a']

In [ ]:
obj['a'] = 1
obj

In [ ]:
obj[['a', 'b']]

In [ ]:
obj[obj>1]

In [ ]:
obj * 2

In [ ]:
"a" in obj # return bool

In [ ]:
data  ={"Moscow": 12000000, 'SPB': 7000000}
obj3 = pd.Series(data)
obj3

In [ ]:
obj3.to_dict()

In [ ]:
data_index = ["Oms", "Ekb", "Moscow"]
obj4 = pd.Series(data, index=data_index)
obj4

In [ ]:
pd.isna(obj4)# isna проверка на Null

In [ ]:
pd.notna(obj4)

In [ ]:
obj3 + obj4

In [85]:
#Имя сириуса 
obj4.name =  "population"
obj4

Oms              NaN
Ekb              NaN
Moscow    12000000.0
Name: population, dtype: float64

In [88]:
# Добавил столбец msk 
obj4.index.name = 'msk'
obj4

msk
Oms              NaN
Ekb              NaN
Moscow    12000000.0
Name: population, dtype: float64

In [102]:
data  ={"Moscow": [*np.arange(1,4)], 'SPB': [*np.arange(1,4)]}
df = pd.DataFrame(data)

In [100]:
df.head(10) # df.head(n: 'int' = 5) -> 'Self'

   Moscow  SPB
0       1    1
1       2    2
2       3    3
3       4    4
4       5    5
5       6    6
6       7    7
7       8    8
8       9    9
9      10   10

In [103]:
df.tail(10)

   Moscow  SPB
0       1    1
1       2    2
2       3    3

In [114]:
df.index = ["test1","test2","test3"]
df.columns

Index(['Moscow', 'SPB'], dtype='object')

In [118]:
df['Moscow']

test1    1
test2    2
test3    3
Name: Moscow, dtype: int32

In [120]:
df.Moscow

test1    1
test2    2
test3    3
Name: Moscow, dtype: int32

In [133]:
df.loc['test1'] # loc -> принимает строку (имя индекса)

Moscow    1
SPB       1
Name: test1, dtype: int32

In [132]:
df.iloc[0] # принимает число (номер строки)

Moscow    1
SPB       1
Name: test1, dtype: int32

In [154]:
df['diff'] = 'oleg' # Добавление столбца d
df['diff'] = np.arange(3.) # np.arange(0, 3.)

# del df["Moscow"] # удаление столбца

In [155]:
df

       SPB  diff
test1    1   0.0
test2    2   1.0
test3    3   2.0