In [ ]:
import numpy as np
import pandas as pd

In [ ]:
obj = pd.Series(
    [1, 2, 3], index=["a", "b", "c"], dtype="int8"
)  # int64 принемает  ``-9_223_372_036_854_775_808`` to ``9_223_372_036_854_775_807``

# int8 ``-128`` to ``127``
# np.info("int8")
obj.nbytes
# размер объекта, RAM
# obj? # интроспекция, сигнатура функции

obj["a"] = 2
obj[obj < 3]  # filter

In [ ]:
obj * 5  # поведение как у вектора
# [1, 2, 3] * 5
"a" in obj

In [ ]:
# list1 = ['a','b']
dict_date = {"name": "oleg", "age": 30}
obj_2 = pd.Series(dict_date)

# pd.isna(obj_2) # Чек Nane
obj_2.isna()  # Чек Nane
obj_2 + obj

In [ ]:
obj_2.name = "SENATOROV"
obj_2

In [2]:
# DataFrame

data = {"name": ["oleg", "Nefedov"], "age": [30, "May"]}

frame = pd.DataFrame(data)
frame

C:\Users\Oleg\AppData\Local\Temp\ipykernel_12216\2566339341.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

      name  age
0     oleg   30
1  Nefedov  May

In [3]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/Geoyi/Cleaning-Titanic-Data/master/titanic_original.csv"
)
df.head()  # show 5 first row

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
df.tail()  # show 5 end row

In [ ]:
df[["survived","age","sex"]]
df = df.loc[1]
df["name"] = "SENATOROV"
df = df.loc[df.index]
df
 df.loc[1] # вывели 1 index(row) in table

In [ ]:
df

<img src="https://pandas.pydata.org/pandas-docs/stable/_images/03_subset_columns.svg">

In [ ]:
# np.info("int8")
obj?

help(pd.Series)

In [ ]:
#!pip install pandas

In [ ]:
def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:

    column_names = [
        "student_id",
        "age",
    ]  # 3. 'column _ names = [' student _ id ',' age ']':
    # Эта строка создает список под названием 'column _ names' с двумя строками: 'student _ id' и 'age'.
    # Эти строки представляют имена столбцов в результирующем фрейме данны
    result = pd.DataFrame(student_data, columns=column_names)

    return result


# 1 pd.DataFrame(): Это конструктор, предоставляемый библиотекой Pandas для создания объекта DataFrame.
# Он используется для создания фрейма данных из заданных данных и имен столбцов.

# 2 student_data: Это первый параметр, передаваемый конструктору pd.DataFrame().
# Он представляет данные, которые будут использоваться для заполнения фрейма данных.
# В данном случае student_data - это список списков, где каждый внутренний список представляет собой строку данных.

# 2.1 columns: Это параметр конструктора pd.DataFrame() в Pandas. Он используется для указания имен столбцов в создаваемом фрейме данных.

# 2.2 column_names: Это переменная, которая содержит список имен столбцов во фрейме данных.
#  Она используется в качестве значения параметра columns.

# 3 Таким образом, код result = pd.DataFrame(student_data, columns=column_names) создает объект Pandas DataFrame с именем result, заполняя его данными из списка student_data и используя список column_names для указания имен столбцов. Результирующий фрейм данных будет содержать столбцы студенческого билета и возраста, как указано в списке column_names.

In [ ]:
# https://leetcode.com/problems/get-the-size-of-a-dataframe/solutions/4135715/1-line-code-simple-code-use-shape-property/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata


def getDataframeSize(players: pd.DataFrame) -> List[int]:
    return [
        players.shape[0],
        players.shape[1],
        # 1. Используя индексацию [0] и [1], извлеките количество строк и столбцов соответственно:
    ]
    # Это создает список с количеством строк во фрейме данных в качестве первого элемента и количеством столбцов в качестве второго элемента.
    # OR
    return list(
        players.shape)  # Преобразование кортежа фигур непосредственно в список
    # Это преобразует кортеж фигур в список, который будет иметь ту же структуру: [количество строк, количество столбцов].


# Этот код определяет функцию с именем getDataframeSize, которая принимает в качестве параметра объект DataFrame панды, называемый players.
# Функция возвращает список из двух целых чисел: количество строк (ось 0) и количество столбцов (ось 1) в DataFrame.

# Атрибут shape в pandas возвращает кортеж, содержащий размеры DataFrame, где первый элемент представляет количество строк,
# а второй элемент представляет количество столбцов.

In [ ]:
def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.head(
        3
        # `return employees.head(3)` - это операция, которая вызывает метод `head(3)` на объекте DataFrame `employees` и возвращает новый DataFrame, содержащий первые три строки исходного DataFrame.
    )