In [4]:
import pandas as pd

df = pd.read_csv("C:/Users/Oleg/Downloads/lesson_1_data (1).csv",
                 encoding="windows-1251",
                 sep=";")

df

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [8]:
# df.head(3)# выводим первые 3 столбца нашой таблицы

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
5,1062900,03.12.2019 21:49,NaN,Курс обучения «Консультант»,Отменен,0.00,Краснодарский край,NaN
6,1062911,04.12.2019 13:12,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
7,1062914,04.12.2019 14:57,NaN,Курс обучения «Консультант»,Отменен,0.00,Республика Башкортостан,NaN
8,1062915,04.12.2019 16:08,NaN,Курс обучения «Эксперт»,Отменен,0.00,Тульская область,NaN
9,1062925,04.12.2019 21:51,NaN,Курс обучения «Эксперт»,Отменен,0.00,Республика Татарстан,NaN
10,1062927,04.12.2019 22:02,NaN,Курс обучения «Специалист»,Отменен,0.00,г.Москва и Московская область,NaN
11,1062931,04.12.2019 23:11,NaN,Курс обучения «Эксперт»,Отменен,0.00,Ростовская область,NaN
12,1062938,05.12.2019 12:07,22.12.2019 12:29,Курс обучения «Консультант»,Завершен,8910.00,Пермский край,Яндекс.Касса
13,1062940,05.12.2019 15:35,05.12.2019 15:40,Курс от Школы Диетологов. Бизнес,Завершен,9394.56,Воронежская область,"Бонусный счет,Сбербанк эквайринг"
14,1062947,05.12.2019 21:39,07.12.2019 13:35,Курс обучения «Консультант»,Завершен,5044.05,Massagno,PayPal
15,1062948,05.12.2019 21:56,NaN,Курс обучения «Эксперт»,Отменен,0.00,Ставропольский край,NaN
16,1062949,05.12.2019 21:57,06.12.2019 9:15,Курс обучения «Эксперт»,Завершен,29597.50,г.Санкт-Петербург и Ленинградская область,Сбербанк эквайринг
17,1062950,05.12.2019 22:06,NaN,Курс обучения «Консультант»,Отменен,0.00,Ставропольский край,NaN
18,1062984,07.12.2019 8:25,NaN,Курс обучения «Консультант»,Отменен,0.00,Республика Саха (Якутия),NaN
19,1063012,08.12.2019 21:43,08.12.2019 22:21,Курс обучения «Консультант»,Завершен,9800.36,Воронежская область,Сбербанк эквайринг
20,1063013,08.12.2019 21:45,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Санкт-Петербург и Ленинградская область,NaN
21,1063014,08.12.2019 21:58,08.12.2019 23:51,Курс обучения «Эксперт»,Завершен,29597.50,г.Санкт-Петербург и Ленинградская область,Сбербанк эквайринг
22,1063020,09.12.2019 8:17,NaN,Курс обучения «Консультант»,Отменен,0.00,Республика Саха (Якутия),NaN
23,1063032,09.12.2019 21:44,11.12.2019 20:06,Курс обучения «Консультант»,Завершен,9649.03,Ужгород,CloudPayments
24,1063051,10.12.2019 21:42,10.12.2019 21:46,Курс обучения «Консультант»,Завершен,9800.36,г.Москва и Московская область,Сбербанк эквайринг

In [51]:
# df.tail(1)# выводим последние столбцы

,namber,create_date,payment_date,title,status,maney,city,payment_system
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [12]:
# df.shape # (292, 8) выводим 292 строки 8 колонок

(292, 8)

In [13]:
# df.dtypes # выводим типы данных

namber              int64
create_date        object
payment_date       object
title              object
status             object
maney             float64
city               object
payment_system     object
dtype: object

In [15]:
df.describe()  # анализирует данные

              Номер    Заработано
count  2.920000e+02    292.000000
mean   1.063745e+06   3397.615034
std    4.438688e+02   5771.572829
min    1.062823e+06      0.000000
25%    1.063608e+06      0.000000
50%    1.063698e+06   2935.440000
75%    1.063807e+06   2935.440000
max    1.064796e+06  42750.000000

In [9]:
df.columns  # Вызывае название калоники

Index(['number', 'create_date', 'payment_date', 'title', 'status', 'money',
       'city', 'payment_system'],
      dtype='object')

In [13]:
df = df.rename(
    columns={
        "Номер": "number",
        "Дата создания": "create_date",
        "Дата оплаты": "payment_date",
        "Title": "title",
        "Статус": "status",
        "Заработано": "maney",
        "Город": "city",
        "Платежная система": "payment_system",
    })

In [11]:
df = df.rename(columns={"maney": "money"})
df = df.rename(columns={"Номер": "number"})
df

,number,create_date,payment_date,title,status,money,city,payment_system
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [8]:
all_maney = df.money.sum()  # Подсчитали общую сумму курсов
all_money

NameError: name 'all_money' is not defined

In [21]:
money_by_city = (df.groupby(["title", "city"], as_index=False).aggregate({
    "maney":
    "sum"
}).sort_values("maney", ascending=False))

# df.groupby('title', as_index=False) Эта строка группирует фрейм данных df по столбцу 'title'.
#  Функция groupby собирает все строки с одинаковым значением в столбце 'title' в отдельные группы.
# Параметр as_index=False гарантирует, что столбец 'title' не будет использоваться в качестве индекса в результирующем

# Функция groupby
# собирает все строки с одинаковым значением в столбце 'title' в отдельные группы. Параметр as_index=False гарантирует,
# что столбец 'title' не будет использоваться в качестве индекса в результирующем фрейме данных.

# aggregate({'maney': 'sum'})

# Эта строка применяет функцию агрегирования к каждой группе, вычисляя сумму столбца "maney" внутри каждой группы.
# Функция агрегирования используется для указания операции агрегирования и столбцов, к которым она должна быть применена.
# В этом случае он агрегирует столбец 'maney', используя функцию 'sum'.

# Функция sort_values
# позволяет вам указать столбец для сортировки (в данном случае "maney") и в каком порядке следует
# выполнять сортировку: по возрастанию (ascending=True) или по убыванию (ascending=False).

In [24]:
all_maney = df.money.sum()  # Подсчитали общую сумму курсов
all_maney

992103.5900000001

In [20]:
df.money.sum()
# df

AttributeError: 'DataFrame' object has no attribute 'money'

In [ ]:
# money = df.groupby(['title', 'city'], as_index=False) \
# .aggregate({'money': 'sum'}) \
# .sort_values("money", ascending=False)# сортируем ascending=False
# money

In [244]:
money.to_csv("money.csv", index=False)  # Сохраняем фаил

In [55]:
df = pd.read_csv("C:/Users/Oleg/Downloads/lesson_1_data (1).csv",
                 encoding="windows-1251",
                 sep=";")

df = df.rename(
    columns={
        "Номер": "number",
        "Дата создания": "create_date",
        "Дата оплаты": "payment_date",
        "Title": "title",
        "Статус": "status",
        "Заработано": "money",
        "Город": "city",
        "Платежная система": "payment_system",
    })

money_sum = (df.query("'status' == 'Завершен'").groupby(
    ["title", "city"], as_index=False).aggregate({
        "money": "sum",
        "number": "count"
    }).sort_values("money",
                   ascending=True).rename(columns={"number": "succes_orders"}))

money_sum.money.sum()

KeyError: False

In [58]:
money_sum.money.sum()

NameError: name 'money_sum' is not defined

In [34]:
money_by_city.to_csv("money_by_city.csv", index=False)

In [47]:
all_maney

992103.5900000001